h1 {
text-align: center;
color: white;
background: teal;
padding: 5px;

}

fieldset {
	background: #addfad;
	width: 95%;
	float: center;
}

legend {
text-align: center;
color: black;
padding: 5px;
face: cursive;
}

leftimg {
    float:left;
    margin: 7px 7px 7px 0;
   }
   
h2 {
text-align: center;
color: black;
padding: 5px;

}